<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Active links list</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>

<div class="container mt-3">
    <div class="card text-wrap">
        <div class="card-header">
            <span th:text="'Active Links: ' + ${activeLinks.size()}"></span>
            <a href="/v1/link/create" class="btn btn-sm btn-outline-primary" type="submit" style="width: 9rem;">Create link</a>
            <a href="/v1/allLinks" class="btn btn-sm btn-outline-primary" type="submit" style="width: 9rem;" >Show all Links</a>
        </div>
        <div class="card-body text-wrap">
            <table class="table">
                <tr>
                    <th>Short link</th>
                    <th>Full link</th>
                    <th>Open count</th>
                    <th>Action</th>
                </tr>

                <tr th:each="link: ${activeLinks}">
                    <td>
                        <a th:text="${link.getToken()}"
                           th:href="@{/v1/token/{token}(token=${link.getToken()})}" target="_blank" type="submit"></a>
                    </td>
                    <td th:text="${link.getLongLink()}"></td>
                    <td th:text="${link.getCount()}"></td>
                    <td>
                        <form th:action="@{/v1/link/edit}" method="get">
                            <a th:href="@{/v1/link/delete/{linkId}(linkId=${link.getLinkId()})}" class="btn btn-outline-danger btn-sm float-center"
                               type="submit" style="width: 4rem; margin: 1%;">Delete</a>
                            <input type="hidden" name="id" th:value="${link.getLinkId()}"/>
                            <button class="btn btn-outline-primary btn-sm float-center" type="submit" style="width: 4rem; margin: 1%;">Edit</button>
                        </form>
                    </td>
                    </form>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>