<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div class="container mt-3">
    <form th:action="@{/v1/link/create}" method="post" th:object="${link}">
        <div class="card">
            <div class="card-header">Create new link</div>
            <div class="card-body">
                <label for="fullLink" class="form-label">Enter Link for shorten</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="fullLink" name="fullLink" th:field="*{longLink}" required>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-outline-primary" type="button" style="width: 11rem; margin: 1%;" onclick="history.go(-1);">Back</button>
                <button class="btn btn-outline-primary" type="submit" style="width: 11rem; margin: 1%;">Generate and Save</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>