<!DOCTYPE html>
<html>
<head>
  <title>Registration Page</title>
</head>
<body>
<h2>Login Page</h2>
<form th:action="@{/registration}" method="post">
  <label for="username">Email:</label>
  <input type="text" id="email" name="email" required><br><br>
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required><br><br>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required><br><br>
  <button type="submit">Registration</button>
</form>
<form th:action="@{/login}" method="get">
  <button type="submit">Login</button>
</form>
</body>
</html>
